:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 0;
  font-weight: 400;

  --Color1: #121212;
  --Color2: #222222;
  --Color3: #444444;
  --Color4: #888888;
  --Color5: #333333;
  --TextColor: #E0E0E0;

  color-scheme: light dark;
  background-color: var(--Color1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}


